---
const { img, title, vote_average, id } = Astro.props;
---

<article class="movieCard">
  <img src={img} alt={`Póster de ${title}`} />
  <h3 class="movieCard__title">
    <a href={`/movie/${id}`}>{title}</a>
  </h3>
  <p>⭐ {vote_average.toFixed(1)}</p>
</article>


<style>
  .movieCard {
    width: 100%;
    max-width: 350px;
    border: 1px solid oklch(0.85 0.1 275);
    border-radius: 20px;
    padding: 1.5rem;
    text-align: center;
    background-color: oklch(0.98 0.01 275);
    transition:0.2s ease;
  }

  .movieCard__title a {
    text-decoration: none;
    color: oklch(0.3441 0.1825 265.76);
  }

  .movieCard:hover {
    border-color: oklch(0.7 0.15 275);
    background-color: oklch(0.95 0.02 275);
  }

  .movieCard img {
  width: 100%; 
  border-radius:15px;
  object-fit: cover; 

  .movieCard__title {
    font-size: 1.25rem;
    margin: 1rem 0 0.5rem;
    line-height: 1.5rem;
  }

  .movieCard__title a:hover {
    color: oklch(0.4 0.15 275);
  }

  .movieCard p {
    font-size: 0.9rem;
    color: oklch(0.4 0.08 275);
    margin: 0.5rem 0 0;
  }
</style>