---
export const prerender = true; ///for server deploy

import MainLayout from "../../layout/MainLayout.astro";
import type { GetStaticPaths } from "astro";
import { slugify } from "../../utils/slugify";
import { updateTime } from "../../utils/updateTime"
import NavBar from "../../components/navBar.astro"
export const getStaticPaths: GetStaticPaths = async () => {
  const API_KEY = "1e7a7835f074482139d752775addeb5e";
  const pageCount = 18;
  const actors = [];

  for (let i = 1; i <= pageCount; i++) {
    const response = await fetch(
      `https://api.themoviedb.org/3/person/popular?api_key=${API_KEY}&language=es-ES&page=${i}`,
    );
    const data = await response.json();
    actors.push(...data.results);
  }

  return actors.map((actor) => ({
    params: { slug: `${slugify(actor.name)}-${actor.id}` },
    props: { actor },
  }));
};

const { slug } = Astro.params;
const id = String(slug).split("-").pop();
const API_KEY = "1e7a7835f074482139d752775addeb5e";
const response = await fetch(
  `https://api.themoviedb.org/3/person/${id}?api_key=${API_KEY}&language=es-ES`,
);

const actor = await response.json();
---

<MainLayout title={actor.title}>
  <main class="actor">
    <NavBar />
    <section class="actor__content">
      <aside class="actor__poster-wrapper">
        <img
          src={`https://image.tmdb.org/t/p/w500${actor.profile_path}`}
          alt={`Póster de ${actor.name}`}
          class="actor__poster"
        />
        <span class="actor__content--title-info">Personal Info</span>

        <span class="actor__content--known-for-deparment info">
          Rol: 
          {actor.known_for_department}
        </span>
        <span class="actor__content--gender info">
          Genero: 
          {() => {
          if(actor.gender===0) return "Not set";
          else if(actor.gender===1) return "Mujer";
          else if(actor.gender===2) return "Hombre";
          else if(actor.gender===3) return "No binario";
          }}
        </span>
        <span class="actor__content--age info">
          Edad: 
          {() => {
            const birthday = new Date(actor.birthday);
            const presentYear = new Date(updateTime());

            let age = presentYear.getFullYear() - birthday.getFullYear();

            if(presentYear.getMonth()>=birthday.getMonth() && presentYear.getDate()>=birthday.getDate()){
              age+=1;
            }
            else{
              age-=1;
            }

            return age;
          }}
        </span>
        <span class="actor__content--aka info aka-title">Tambien conocido/a como: </span>
        <span class="actor__content--aka info">
          <ul>
            <li>{actor.also_known_as[0]}</li>
            <li>{actor.also_known_as[1]}</li>
          </ul>
          
        </span>

        <span class="actor__popularity">
          <span class="actor__popularity-value">❤️{actor.popularity.toFixed(1)}</span>
        </span>
      </aside>

      <article class="actor__info">
        <header class="actor__header">
          <h1 class="actor__name">{actor.name}</h1>

          {
            actor.birthday && (
              <div class="actor__birthday">
                <time datetime={actor.birthday}>
                  {new Date(actor.birthday).toLocaleDateString("es-ES", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                  })}
                </time>
                {actor.deathday && (
                  <div class="actor__deathday">
                    <time datetime={actor.deathday}>
                      {new Date(actor.deathday).toLocaleDateString("es-ES", {
                        year: "numeric",
                        month: "long",
                        day: "numeric",
                      })}
                    </time>
                  </div>
                )}
              </div>
            )
          }
          {
            actor.place_of_birth && (
              <div class="actor__place-of-birth">
                
                {actor.place_of_birth}
              </div>
            )
          }
        </header>
        <h2 class="actor__biography-title">Biography</h2>
        <section class="actor__biography">
          <div class="actor__biography-text">
            {
              actor.biography ? (
                <p>{actor.biography}</p>
              ) : (
                <p class="actor__no-bio">No biography available.</p>
              )
            }
          </div>
        </section>
      </article>
    </section>
  </main>
  <footer class="footer">
    <nav class="footer-nav">
      <a href="/actors/1" class="footer-nav__link" data-astro-reload>Inicio</a>
    </nav>
  </footer>
</MainLayout>


<style>
  html {
    min-height: 100vh;
    color: var(--color-text);
    font-family: var(--font-main);
    display: flex;
    flex-direction: column;
   	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

  }
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

  /* Contenido principal */
  .actor__content {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    flex-grow: 1;
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    gap: 3rem;
    align-items: center;
  }

  /* Póster del actor */
  .actor__poster-wrapper {
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: var(--gradient-glass);
    backdrop-filter: blur(10px);
  }
  .actor__poster-wrapper:hover {
    transform: translateY(-10px) scale(1.02);
  }

  .actor__content--title-info{
    width: fit-content;
    font-size: 1.4rem;
    color: var(--color-light);
    margin: 0.8rem 1.4rem;
    margin-bottom: 0.3rem;
  }

  .info{
    width: max-content;
    font-size: 1rem;
    color: var(--color-light);
    margin: 0 2.5rem;
    line-height: 2;
  }
  ul{
    margin-bottom: 1rem;
  }
.aka-title{
  font-size: 1.1rem;
  margin: 0 1.4rem;
}
  

  .actor__poster {
    display: block;
    object-fit: cover;
  }

  .actor__popularity {
    position: relative;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gradient-glass);
    backdrop-filter: blur(10px);
  }
  .actor__popularity-value {
    font-size: 2.6rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-accent);
    text-shadow: var(--gradient-dark);
  }

  /* Información del actor */
  .actor__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 5rem;
  width: fit-content;
}

  .actor__header {
    display: flex;
    flex-direction: column;
    
  }

  .actor__name {
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-text);
    line-height: 1.1;
    text-shadow: var(--gradient-dark);
  }

  .actor__birthday,
  .actor__deathday,
  .actor__place-of-birth {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 1rem;
    color: var(--color-text);
    text-shadow: var(--gradient-dark);
    font-weight: var(--font-weight-medium);
  }
.actor__biography-title{
  margin-bottom: 0.25rem;
}

.actor__biography {
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  padding-right: 1rem; 
  position: relative;
  color: var(--color-text);
  text-shadow: var(--gradient-dark);
}



  .actor__biography-text {
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.7;
  color: var(--color-light);
  margin: 0;
  background: rgba(0, 0, 0, 0.6);
  padding: 1.5rem;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

  .actor__no-bio {
    font-style: italic;
    opacity: 0.8;
  }

  
  .footer {
    background: var(--color-dark);
    color: var(--color-light);
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--color-primary);
    margin-top: auto; 
  }

  .footer-nav {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    font-family: var(--font-main);
  }

  .footer-nav__link {
    color: var(--color-accent);
    text-decoration: none;
    font-weight: var(--font-weight-medium);
    transition: color 0.3s ease;
    font-size: 1.5rem;
    text-align: center;
  }

  .footer-nav__link:hover {
    color: var(--color-light);
  }

  /* Media Queries */
@media screen and (min-width: 380px){
  .actor__content {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 2rem;
  }
  .actor__poster-wrapper{
    max-width: 19rem;
  }
  .actor__info{
    width: 19rem;
  }
  
}

@media screen and (min-width: 700px){

}

@media screen and (min-width: 900px){
.actor__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .actor__info{
    width: 35rem;
  }
}

@media screen and (min-width: 1000px){
.actor__content{
    max-width: 2000px;
    grid-template-columns: 1fr 1fr;
  }
  .actor__info{
    width: 40rem;
  }
}
@media screen and (min-width: 1300px){
  .actor__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .actor__poster-wrapper{
    max-width: 25rem;
  }
  .actor__info{
    width: 60rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  .actor__content {
    grid-template-columns: 1fr;
    padding: 3rem 2rem;
  }

  .actor__poster-wrapper {
    max-width: 22rem;
    margin: 0 auto;
  }

  .actor__info {
    width: 100%;
    padding: 1rem;
  }

  .actor__biography {
    max-height: 400px;
  }
}
</style>

